<mat-toolbar class="header">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <i class="ph ph-globe-hemisphere-east"></i>
  </button>

  <span>NATION VIEW</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>

  <button
    class="btn-text btn btn-outline-secondary"
    type="button"
    id="button-addon2"
    (click)="onContribute()"
  >
    CONTRIBUTE
  </button>
</mat-toolbar>
