<div class="footer">
  <div class="footer-copy">
    <p>
      2023 Made by
      <a href="www.linkedin.com/in/rajkumar-subramanian-codeenthusiast"
        >Rajkumar Subramanian</a
      >
    </p>
  </div>
  <div class="footer-">
    <h4>Let's Connect</h4>

    <i
      width="30px"
      height="30px"
      class="ph ph-github-logo"
      (click)="onGithub()"
    ></i>

    <i
      width="30px"
      height="30px"
      class="ph ph-linkedin-logo"
      (click)="onGoto()"
    ></i>
  </div>
</div>
